.profile {
  background: url(../../../Assets/BackgroundImages/rest_jumbo.jpg) no-repeat;
  display: grid;
  grid-template-columns: auto auto;
  /* width: 50%; */
}
.formData6 {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 0px 2px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 10px;
  width: 70%;
  /* justify-content: space-evenly; */
  margin-left: 13%;
}
.resProfile {
  justify-items: center;
}
