.restCard3 {
  background: url(../../../../Assets/BackgroundImages/rest_jumbo.jpg) no-repeat;
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-auto-flow: column; */
  gap: 0px 20px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 10px;
  width: 850px;
  margin: 20px;
}
.eventImage {
  grid-row: 1 / span 8;
  align-self: center;
  justify-self: center;
  text-align: center;
  justify-content: space-between;
}
