.formData2 {
  background: url(../../../Assets/BackgroundImages/rest_jumbo.jpg) no-repeat;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap: 0px 20px;
  margin-top: 50px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
}
.cont {
  display: grid;
  margin-top: 30px;

  justify-items: center;
}
.form-group1 {
  width: 250px;
  align-content: center;
  justify-content: center;
}
.imageDiv {
  grid-area: 1/1/5/1;
  margin-top: 30px;
}
